<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body> --> <!-- all this part of the code is taken care by layout.ejs -->
        <%- include('_header'); %> <!-- partials used -->
        <h1> Codeial / <%=title %></h1>
        <%- include('_footer'); %>
    <!-- </body>
</html> --> <!-- all this part of the code is taken care by layout.ejs -->