<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body> --><!-- all this part of the code is taken care by layout.ejs -->
        <link rel="stylesheet" href="/css/user_profile.css">
        <h1> User profile</h1>
        
        <p>profile page</p>

        <p><%= user.name %></p>
        <p><%= user.email %></p>

        <a href="/users/sign-out">
            Sign Out
        </a>
        
    <!-- </body>
</html> --><!-- all this part of the code is taken care by layout.ejs -->